<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
</head>

<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <h2 align="center">端口扫描修改</h2>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">主机IP</label>
        <div class="layui-input-block">
            <input type="text" name="host" lay-verify="required" lay-reqtext="请输入主机IP" placeholder="请输入主机IP"
                   value="{{ port.host }}" class="layui-input" autocomplete="0">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">存活端口</label>
        <div class="layui-input-block">
            <input type="text" name="ports" lay-verify="required" lay-reqtext="请输入存活端口" placeholder="请输入存活端口"
                   value="{{ port.ports }}" class="layui-input" autocomplete="0">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">保存数据</button>
        </div>
    </div>
</div>
<script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/static/js/lay-config.js"></script>
<script>
    layui.use(['form', 'table', 'ajax'], function () {
        const form = layui.form;
        const layer = layui.layer;
        const ajax = layui.ajax;
        const $ = layui.$;

        const token = "{{ csrf_token }}"
        ajax.setup(token)

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            let id = "{{ port.id }}"
            let url = "/scan/port/add"
            if (id !== '') {
                data.field.id = id
                url = "/scan/port/edit"
            }
            ajax.post(url, data.field).then(res => {
                parent.layer.msg("保存数据成功", {icon: 1, time: 1000})
                parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                parent.layui.table.reload('currentTableId')
            })
        });
    });
</script>
</body>

</html>