# require C++ environment
netifaces

django
djangorestframework
ratelimit
django_crontab
mysqlclient
captcha
pyecharts
pymysql
mysql-connector-python
psutil
scapy
python-nmap
beautifulsoup4
pandas
requests
aiohttp
ipy
cx_Oracle
pymongo
psycopg2
binascii
winpcapy
