django~=4.2.13
djangorestframework~=3.15.2
captcha~=0.5.0
pyecharts~=2.0.5
pymysql~=0.10.1
mysql-connector-python~=8.0.22
psutil~=6.0.0
scapy~=2.5.0
# require C++ environment
netifaces~=0.11.0
python-nmap~=0.7.1
beautifulsoup4~=4.9.3

requests~=2.25.1
pandas~=2.2.2
reportlab~=4.2.0
pillow~=10.3.0