<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/layuimini.css">
    <link rel="stylesheet" href="/static/css/public.css">
</head>

<body>
<h1>扫描系统</h1>

<script src="/static/lib/layui-v2.6.3/layui.js"></script>
<script src="/static/js/lay-config.js"></script>
<script>
    layui.use(['table', 'ajax', 'form'], function () {
        const table = layui.table;


    });
</script>
</body>

</html>