<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
</head>

<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <h2 align="center">日志修改</h2>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">用户ID</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" lay-reqtext="请输入漏洞名称" placeholder="请输入漏洞名称"
                   value="{{ webbug.name }}" class="layui-input" autocomplete="0">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">请求方法</label>
        <div class="layui-input-block">
            <input type="text" name="os" lay-verify="required" lay-reqtext="请输入操作系统" placeholder="请输入操作系统"
                   value="{{ webbug.os }}" class="layui-input" autocomplete="0">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">请求URL</label>
        <div class="layui-input-block">
            <input type="text" name="found_by" lay-verify="required" lay-reqtext="请输入发现人" placeholder="请输入发现人"
                   value="{{ webbug.found_by }}" class="layui-input" autocomplete="0">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">IP</label>
        <div class="layui-input-block">
            <input type="text" name="bug_type" lay-verify="required" lay-reqtext="请输入漏洞类型" placeholder="请输入漏洞类型"
                   value="{{ webbug.bug_type }}" class="layui-input" autocomplete="0">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">操作信息</label>
        <div class="layui-input-block">
            <input type="text" name="bug_name" lay-verify="required" lay-reqtext="请输入漏洞名称" placeholder="请输入漏洞名称"
                   value="{{ webbug.bug_type }}" class="layui-input" autocomplete="0">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">开始生成</button>
        </div>
    </div>
</div>
<script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/static/js/lay-config.js"></script>
<script>
    layui.use(['form', 'table', 'ajax'], function () {
        const form = layui.form;
        const layer = layui.layer;
        const ajax = layui.ajax;
        const $ = layui.$;

        const token = "{{ csrf_token }}"
        ajax.setup(token)

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            let id = "{{ webbug.id }}";
            let url = "/log-add";
            if (id !== '') {
                url = "/log-edit";
                data.field.id = id
            }
            ajax.post(url, data.field).then(res => {
                parent.layer.msg("网页漏洞保存成功", {icon: 1, time: 1000})
                parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                parent.layui.table.reload('currentTableId')
            })
        });
    });
</script>
</body>

</html>