<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <h2 align="center">网页漏洞扫描</h2>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">IP地址</label>
        <div class="layui-input-block">
            <input type="text" name="sub_name" lay-verify="required" lay-reqtext="IP地址不能为空" placeholder="请输入IP地址"
                   value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">子网掩码</label>
        <div class="layui-input-block">
            <input type="text" name="sub_email" lay-verify="required" lay-reqtext="起始端口不能为空" placeholder="请输入起始端口"
                   value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label required">默认网关</label>
        <div class="layui-input-block">
            <input type="text" name="sub_email" lay-verify="required" lay-reqtext="结束端口不能为空" placeholder="请输入结束端口"
                   value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label required">DNS服务</label>
        <div class="layui-input-block">
            <input type="text" name="sub_email" lay-verify="required" lay-reqtext="结束端口不能为空" placeholder="请输入结束端口"
                   value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label required">租约时间</label>
        <div class="layui-input-block">
            <input type="text" name="sub_email" lay-verify="required" lay-reqtext="结束端口不能为空" placeholder="请输入结束端口"
                   value="" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">开始扫描</button>
        </div>
    </div>
</div>
<script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/static/js/lay-config.js"></script>
<script>
    layui.use(['form', 'table', 'ajax'], function () {
        const form = layui.form;
        const layer = layui.layer;
        const ajax = layui.ajax;
        const $ = layui.$;

        const token = "{{ csrf_token }}"
        ajax.setup(token)

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            console.log(data.field);
            const add = () => {
                ajax.post("/host/service/add", data.field, function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 2000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                            parent.layui.table.reload('currentTableId')
                        })
                    } else {
                        layer.alert(result.msg);
                    }
                })
            }
            add()
        });
    });
</script>
</body>
</html>