<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
</head>

<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>查询条件</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">IP地址</label>
                            <div class="layui-input-inline">
                                <input type="text" name="ip" autocomplete="1" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">端口号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="port" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">协议</label>
                            <div class="layui-input-inline">
                                <input type="text" name="protocol" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                                <input type="text" name="state" autocomplete="1" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">产品名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="product" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-normal" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 查 询
                            </button>
                            <button type="reset" class="layui-btn layui-btn-primary"><i
                                    class="layui-icon layui-icon-refresh"></i> 重 置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>

<script type="text/html" id="currentTableBar">
    <a class="layui-btn layui-btn-xs layui-bg-blue data-count-delete" lay-event="edit">编辑</a>
    {% if "power:delete" in request.session.permissions %}
        <a class="layui-btn layui-btn-xs layui-bg-red data-count-delete" lay-event="delete">删除</a>
    {% endif %}
</script>

<script type="text/html" id="power-enable">
    {% verbatim %}
    {{#  if(d.enable==1){ }}
    <input type="checkbox" name="power-enable" lay-skin="switch" checked lay-text="启用|禁用" value={{ d.powerId}}
           lay-filter="powerEnable">
    {{#  } else { }}
    <input type="checkbox" name="power-enable" lay-skin="switch" lay-text="启用|禁用" value={{ d.powerId}}
           lay-filter="powerEnable">
    {{#  } }}
    {% endverbatim %}
</script>

<script type="text/html" id="toolbarUser">
    <div class="layui-btn-container">
        {% if "power:add" in request.session.permissions %}
            <button class="layui-btn layui-btn-sm  layui-bg-green data-add-btn" lay-event="add">
                服务识别
            </button>
        {% endif %}
        {% if "power:delete" in request.session.permissions %}
            <button class="layui-btn layui-btn-sm layui-bg-red data-delete-btn"
                    lay-event="multi-del"> 批量删除
            </button>
        {% endif %}
    </div>
</script>


<script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/static/js/lay-config.js"></script>
<script>
    layui.use(['form', 'table', 'ajax'], function () {
        const $ = layui.jquery
        const form = layui.form
        const table = layui.table
        const ajax = layui.ajax

        const token = "{{ csrf_token }}";
        ajax.setup(token)

        const query = () => {
            let enable = `{% if "power:enable" in request.session.permissions %}1{% endif %}` === "1";
            let cols = [
                {type: "checkbox", width: 50},
                {field: 'id', width: 150, title: 'ID（编号）', align: 'center', sort: true},
                {field: 'ip', width: 150, title: 'IP地址', align: 'center', sort: true},
                {field: 'port', width: 100, title: '端口号', align: 'center', sort: true},
                {field: 'protocol', width: 100, title: '协议', align: 'center', sort: true},
                {field: 'service', width: 150, title: '服务名称', align: 'center', sort: true},
                {field: 'version', width: 100, title: '版本', align: 'center'},
                {field: 'state', width: 100, title: '状态', align: 'center', sort: true},
                {field: 'product', minWidth: 200, title: '产品名称', align: 'center', sort: true},
                {title: '操作', width: 120, toolbar: '#currentTableBar', align: "center", fixed: 'right'}
            ]
            if (!enable) {
                cols = cols.filter(col => col.field !== 'enable');
            }
            table.render({
                elem: '#currentTableId',
                url: '/scan/service/query',
                method: 'post',
                toolbar: '#toolbarUser',
                defaultToolbar: ['filter', 'exports', 'print'],
                cols: [cols],
                limits: [10, 20, 50, 100, 200, 500],
                limit: 10,
                page: true,
                skin: 'row',
                even: true
            });
        }
        query()

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            const result = JSON.stringify(data.field);
            table.reload('currentTableId', {
                page: {curr: 1}, where: {Params: result}
            }, 'data');
            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {

            if (obj.event === 'add') {  // 监听添加操作
                const index = layer.open({
                    title: '启动服务识别任务',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['40%', '80%'],
                    content: '/scan/service/start',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            }

            if (obj.event === 'multi-del') {  // 监听multi-del操作
                const checkStatus = table.checkStatus('currentTableId');
                const data = checkStatus.data;

                if (data.length === 0) {
                    return layer.msg('请选择需要删除的数据!', {icon: 3, time: 1000})
                }

                layer.confirm('真的删除选中行吗?', {icon: 3, title: '确认删除'}, function (index) {
                    let ids = data.map(item => item.id);
                    ajax.post("/scan/service/delete_batch", {ids: ids.join(",")}).then(res => {
                        parent.layer.msg("批量删除成功", {icon: 1, time: 1000})
                        parent.layer.close(parent.layer.getFrameIndex(window.name)); //关闭当前页
                        table.reload('currentTableId');  //表格重载
                        layer.close(index);
                    });
                });

                return false;
            }

            if (obj.event === 'refresh') {
                window.refresh()
                return false;
            }

        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;

            if (obj.event === 'edit') {
                const index = layer.open({
                    title: '启动服务识别任务',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['500px', '95%'],
                    content: '/scan/service/edit',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });

                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么?', {icon: 3, title: '确认删除'}, function (index) {
                    ajax.post("/scan/service/delete", obj.data).then(res => {
                        layer.msg("删除成功", {icon: 1});
                        obj.del();
                        layer.close(index);
                    })
                    return false;
                });
            } else if (obj.event === 'refresh') {
                console.log(obj);
                window.refresh()
            }

        });


        table.on('edit(currentTableFilter)', function (obj) { //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
            // console.log(obj.value); //得到修改后的值
            // console.log(obj.field); //当前编辑的字段名
            console.log(obj.data); //所在行的所有相关数据
            //传给后台
            $.ajax({
                url: "/power-cell-edit",
                type: "post",
                data: {
                    field: obj.field,
                    value: obj.value,
                    powerId: obj.data.powerId
                },
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1});
                    } else {
                        layer.msg(result.msg, {icon: 2});
                    }

                },
                error: function (result) {
                    alert("接口错误！！");
                }
            });
            return false;


        });


        form.on('switch(powerEnable)', function (obj) {
            // console.log(obj);
            let operate
            if (obj.elem.checked) {
                operate = 'enable'
            } else {
                operate = 'disable'
            }
            let loading = layer.load()

            $.ajax({
                url: "/power-enable",
                type: "post",
                data: {
                    powerID: obj.value,
                    enableValue: operate
                },
                success: function (result) {
                    layer.close(loading)
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1});
                    } else {
                        layer.msg(result.msg, {icon: 2});

                    }
                },
                error: function (result) {
                    alert("接口错误！！");
                }
            });
            return false;

        })

        window.refresh = function (param) {
            table.reload('currentTableId', {where: param})
        }

    });
</script>

</body>

</html>