<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
</head>

<body>
    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <h2 align="center">网页漏洞扫描</h2>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">目标URL或网站地址</label>
            <div class="layui-input-block">
                <input type="text" name="sub_name" lay-verify="required" lay-reqtext="请输入目标URL或网站地址"
                    placeholder="请输入目标URL或网站地址" value="" class="layui-input" autocomplete="1">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">扫描范围</label>
            <div class="layui-input-block">
                <select name="sub_email" lay-verify="required" lay-reqtext="请选择扫描范围" placeholder="请选择扫描范围">
                    <option value="">请选择</option>
                    <option value="AAA">当前页面</option>
                    <option value="BBB">整个站点</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label required">漏洞类型</label>
            <div class="layui-input-block">
                <select name="sub_email" lay-verify="required" lay-reqtext="请选择漏洞类型" placeholder="请选择漏洞类型">
                    <option value="">请选择</option>
                    <option value="AAA">SQL注入</option>
                    <option value="BBB">跨站脚本(XSS)</option>
                    <option value="BBB">远程命令执行(RCE)</option>
                    <option value="BBB">远程命令执行(RCE)</option>
                    <option value="BBB">弱口令检测</option>
                    <option value="BBB">CRSF检测</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label required">认证信息（token）</label>
            <div class="layui-input-block">
                <textarea name="sub_email" lay-verify="required" lay-reqtext="请输入认证信息" placeholder="请输入认证信息"
                    class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label required">扫描策略</label>
            <div class="layui-input-block">
                <select name="sub_email" lay-verify="required" lay-reqtext="请选择扫描策略" placeholder="请选择扫描策略">
                    <option value="">请选择</option>
                    <option value="AAA">快速扫描</option>
                    <option value="BBB">全面扫描</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">开始扫描</button>
            </div>
        </div>
    </div>
    <script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="/static/js/lay-config.js"></script>
    <script>
        layui.use(['form', 'table', 'ajax'], function () {
            const form = layui.form;
            const layer = layui.layer;
            const ajax = layui.ajax;
            const $ = layui.$;

            const token = "{{ csrf_token }}"
            ajax.setup(token)

            //监听提交
            form.on('submit(saveBtn)', function (data) {
                ajax.post("/host/service/add", data.field).then(res => {
                    parent.layer.msg("开始漏洞扫描任务", { icon: 1, time: 1000 })
                    parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                    parent.layui.table.reload('currentTableId')
                })
            });
        });
    </script>
</body>

</html>